/*
http://icant.co.uk/csstablegallery
*/

table {
	border-collapse:collapse;
	background:#EFF4FB;
	border-left:1px solid #686868;
	border-right:1px solid #686868;
	width:90%; 
	font:1.0em/145% 'Trebuchet MS',helvetica,arial,verdana;
	color: #333;
        margin: 10px 50px 10px 20px;
}

td, th {
	padding:5px;
        vertical-align:top;
}

caption {
	padding: 0 0 .5em 0;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
	background: transparent;
}

table a {
	color:#950000;
	text-decoration:none;
}

table footnote {
  padding: 0;
  margin: 0 -2px;
  vertical-align:super;
}

table a:link {}

table a:hover {
	border-bottom: 1px dashed #bbb;
}

thead th, tfoot th, tfoot td {
	background:#6495ED;
	color:#fff
}

tfoot td {
	text-align:right
}

tbody th, tbody td {
	border-bottom: dotted 1px #333;
}

tbody th {
	white-space: nowrap;
}

tbody th a {
	color:#333;
}

.odd {}
tbody tr:hover {
	background:#fafafa
}

/*
===== 18: casegrid =====
*/

.casegrid {
float: left;
width: 180px;
min-height: 220px;
text-align: center;
margin: 0 10px 20px 0;
background: #fff;
background-position: center center;
padding: 5px;
border: 0;
-webkit-transition: background-color 1s ease-in-out;
-moz-transition: background-color 1s ease-in-out;
-o-transition: background-color 1s ease-in-out;
transition: background-color 1s ease-in-out;
}

.casegrid:hover,
.casegrid .over {
float: left;
width: 180px;
text-decoration: none;
text-align: center;
/*background-color: #CDDDF9;*/
background-color: rgb(205,221,249);
background-color: rgba(205,221,249,1);
/*color: #333;*/
border: 0;
cursor: pointer;
}

.ind-casegrid {
margin: 0;
padding: 0;
border: 0;
}

.casegrid a.casegrid_item,
.casegrid a.casegrid_item:link,
.casegrid a.casegrid_item:visited {
display: block;
width: 180px;
height: 180px;
border-bottom: none;
text-decoration: none;
overflow: hidden;
padding: 0;
margin: 0 auto;
}


.clearing {
        clear: both;
        height: 1px;
}